<div class="col-4">
  <% if instagram.images.present? %>
    <div class="insta-post post-square" onclick="#{post_path(instagram.id)}" style="background: url(<%= instagram.images.first.file %>) no-repeat center top ">
      <%= link_to post_path(instagram.id) do %>
        <div class="post-stats">
          <div class="inner">
            <i class="fa fa-heart"></i> <%= instagram.like_counter %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="insta-post post-square">
      <%= link_to post_path(instagram.id) do %>
        <%= video_tag(instagram.videos.first.file, :multiple => true) if instagram.videos.present? %>
        <div class="post-stats">
          <div class="inner">
            <i class="fa fa-heart"></i> <%= instagram.like_counter %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
