<div class="col-4">
  <% if instagram.images.present? %>
    <div class="insta-post post-square" style="background: url(<%= instagram.images.first.file.url %>) no-repeat center top ">
      <%= link_to post_path(instagram.id) do %>
        <div class="post-stats">
          <div class="inner">
            <i class="fa fa-heart"></i> <%=number_to_human(instagram.like_counter, units: { thousand: 'k' , million: 'm'})%>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="insta-post post-square" style="background: url(<%= instagram.videos.first.thumbnail %>) no-repeat center top ">
      <%= link_to post_path(instagram.id) do %>
        <div class="post-stats">
          <div class="inner">
            <i class="fa fa-heart"></i> <%=number_to_human(instagram.like_counter, units: { thousand: 'k' , million: 'm'})%>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
