<% provide(:title, 'Edit Profile') %>
<%= form_with model: @session,method: :put, local: true, html: {class: "form-horizontal form-edit-user"} do |f| %>
  <div class="form-group row">
    <div class="col-sm-3 col-form-label">
      <%= image_tag current_user.avatar.thumb.url, class: "edit-profile-pic"%>
    </div>
    <div class="col-sm-9">
      <p class="username"><%=current_user.username %></p>
        <%= f.file_field :avatar, use_filename: true %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :full_name, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-6">
      <%= f.text_field :full_name, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :decription, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-6">
      <%= f.text_area :decription, autofocus: true, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :new_password, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-6">
      <%= f.password_field :new_password, autocomplete: "new-password", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password_confirmation, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :current_password, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-6">
      <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xl-8">
    </div>
    <div class="col-sm-2">
      <%= f.submit "Save",data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
  <div class="form-group row">
    <div class="col-xl-7">
    </div>
    <div class="col-sm-5">
      <%= link_to "Remove Account", delete_account_path, class: 'text-danger js-account--close'%>
  </div>