<%= form_with model: @session, method: :put, local: true, html: {class: "form-horizontal form-edit-user"} do |f| %>
  <div class="form-group row">
    <div class="col-sm-3 col-form-label">
      <%= f.hidden_field :avatar_cache %>
      <% binding.pry %>
      <%= image_tag current_user.avatar.thumb.url %>
    </div>
    <div class="col-sm-9">
      <p class="username"><%=current_user.username %></p>
        <%= f.file_field :avatar %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :username, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-6">
      <%= f.text_field :username, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :email, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-6">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :password, class: 'col-sm-3 col-form-label' %>
    <div class="col-sm-6">
      <%= f.password_field :password, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-xl-8">
    </div>
    <div class="col-sm-2">
      <%= f.submit "Save",data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
  <div class="form-group row">
    <div class="col-xl-7">
    </div>
    <div class="col-sm-5">
      <%= link_to "Remove Account",user_path(current_user.id) ,data: { confirm: "Are you sure?" }, method: :delete, class: 'text-danger'%>
  </div>

<% content_for :script_cdn do %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<% end %>