<% provide(:title, current_user.full_name + " trên Instagram: "+ "“" + @instagram.content + "”")%>
<main class="container" style="min-height: 500px;">
  <div class="row">
    <div class="col-1">
    </div>
    <dib class="row col-10 post">
    <div class="col-8">
      <div class="insta-post">
        <% if @instagram.images.present? %>
          <%= render partial: 'images', locals: { images: @images} %>
        <% else %>
          <%= render partial: 'videos', locals: { videos: @videos}  %>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div class="post-meta">
        <%= link_to (image_tag current_user.avatar.thumb.url, class: 'img-circle'), dashboard_path%>
        <%= link_to current_user.username, dashboard_path, class: 'text-dark' %>
        <div type="button" class="fa fa-edit" data-toggle="modal" data-target="#exampleModal"></div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EDIT CONTENT POST</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= form_with model: @post, local: true, method: :put do |f| %>
                  <div class="form-group">
                    <%= f.label :new_content, class: 'col-form-label'%>
                    <%= text_area_tag 'content_text_aria_cur',nil, class: 'form-control' %>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit 'Save changes', class: 'btn btn-primary' %>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="post-details col-12">
        <%= simple_format @instagram.content, class: 'col-12'%>
        <p><strong><%= number_to_human(@instagram.like_counter, units: { thousand: 'k', million: 'm'})%></strong> likes</p>
        <p class="text-muted"><%= time_ago_in_words @instagram.time_post%> ago</p>
      </div>
    </div>
    </dib>
  </div>
</main>
