<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('instagram.ico') %>
    <title><%= (yield :title).presence || 'Instagram' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :script_cdn %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <%= cloudinary_js_config %>
  </head>
  <body>
    <div class="container-fluid">
      <%= render 'shared/header' %>
      <p class="notice text-success"><%= (yield :notice).presence || notice %></p>
      <p class="alert text-danger"><%= alert %></p>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
