<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/header' %>
    <title>CrawlerWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <main class="container" style="min-height: 500px;">
    </main>
    <%= render 'shared/footer' %>
  </body>
</html>
